In [4]:
import pandas as pd
from libraries.utility import Utility as mutil
from libraries.db_base import db_base
import os
import time

from libraries.utility import Utility as mutil
from libraries.db_base import db_base
from libraries.db_ins_fake_data import fake_data_to_db
from libraries.custom_excel_output import custom_excel_output
import pandas as pd
import pandasql as psql
pd.options.display.max_columns = None
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)
import warnings
import time
import os
import pandasql as psql
from IPython.core.display import Markdown as md
warnings.filterwarnings('ignore')

from IPython.core.display import display, HTML, Markdown, Latex
display(HTML(
    '<style>'
        '#notebook { padding-top:0px !important; } ' 
        '.container { width:100% !important; } '
        '.end_space { min-height:0px !important; } '
        '.end_space { min-height:0px !important; } '
        '.prompt {width: 0px; min-width: 0px; visibility: collapse } '
        '.parent{'
        '    display: grid;'
        '    grid-template-columns: 1fr 1fr;'
        '    column-gap: 5px;'
        '}    '
    '</style>'
))


from pyspark.sql import SparkSession

In [5]:
def create_spark_sesssion():
    # Create SparkSession
    spark = SparkSession.builder \
        .appName("MasterSession") \
        .config("spark.jars", "/usr/share/java/sqljdbc_12.4/enu/jars/mssql-jdbc-12.4.2.jre11.jar") \
        .config("spark.jars", "/usr/share/java/postgresql.jar") \
        .config("spark.jars", "/usr/share/java/mysql-connector-j-8.2.0.jar") \
        .getOrCreate()    
    return spark

def test_sql_server_connection(query,spark):
    
    #Location of database drivers
    #postgres
    #/usr/share/java/postgresql.jar
    #mysql
    #/usr/share/java/mysql-connector-j-8.2.0.jar
    #mssql
    #/usr/share/java/sqljdbc_12.4/enu/jars/mssql-jdbc-12.4.2.jre11.jar

    # Start the timer
    start_time = time.time()
    


    # Database connection properties
    database_url = "jdbc:sqlserver://mssql1:1433;databaseName=products"
    database_properties = {
        "user": "sa",
        "password": "Python2028",
        "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
        "encrypt": "true",
        "trustServerCertificate": "true"  # Add this line        
    }

    
    # Read data from MSSQL
    #df = spark.read.jdbc(url=database_url, table="products", properties=database_properties)

    # Read data from MSSQL
    df = spark.read.jdbc(url=database_url, table=query, properties=database_properties)

    # Show the data
    #df.show()
    
    # Stop the timer and calculate elapsed time
    end_time = time.time()
    elapsed_time = end_time - start_time

    # Convert elapsed time to minutes and seconds
    minutes = int(elapsed_time // 60)
    seconds = int(elapsed_time % 60)
    
    print(f"Time elapsed: {minutes} minutes and {seconds} seconds")
    return df


def test_postgress_sql(query,spark):
  
    #Location of database drivers
    #postgres
    #/usr/share/java/postgresql.jar
    #mysql
    #/usr/share/java/mysql-connector-j-8.2.0.jar
    #mssql
    #/usr/share/java/sqljdbc_12.4/enu/jars/mssql-jdbc-12.4.2.jre11.jar

    # Start the timer
    start_time = time.time()
    

    # Database connection properties
    database_url = "jdbc:postgresql://postsql1:5432/finance"
    database_properties = {
        "user": "postgres",
        "password": "Python2028",
        "driver": "org.postgresql.Driver",
        "encrypt": "true",
        "trustServerCertificate": "true"  # Add this line        
    }
    
    # Read data from MSSQL
    df = spark.read.jdbc(url=database_url, table=query, properties=database_properties)

    # Show the data
    #df.show()
    
    # Stop the timer and calculate elapsed time
    end_time = time.time()
    elapsed_time = end_time - start_time

    # Convert elapsed time to minutes and seconds
    minutes = int(elapsed_time // 60)
    seconds = int(elapsed_time % 60)
    
    print(f"Time elapsed: {minutes} minutes and {seconds} seconds")
    return df

def test_mysql_server(query,spark):
    
    #Location of database drivers
    #postgres
    #/usr/share/java/postgresql.jar
    #mysql
    #/usr/share/java/mysql-connector-j-8.2.0.jar
    #mssql
    #/usr/share/java/sqljdbc_12.4/enu/jars/mssql-jdbc-12.4.2.jre11.jar

    # Start the timer
    start_time = time.time()
    

    # Database connection properties
    database_url = "jdbc:mysql://mysql1:3306/customers"
    database_properties = {
        "user": "root",
        "password": "Python2028",
        "driver": "com.mysql.cj.jdbc.Driver",
        "encrypt": "true",
        "trustServerCertificate": "true"  # Add this line        
    }
    
    # Read data from MSSQL
    df = spark.read.jdbc(url=database_url, table=query, properties=database_properties)
    
    # Stop the timer and calculate elapsed time
    end_time = time.time()
    elapsed_time = end_time - start_time

    # Convert elapsed time to minutes and seconds
    minutes = int(elapsed_time // 60)
    seconds = int(elapsed_time % 60)
    
    print(f"Time elapsed: {minutes} minutes and {seconds} seconds")
    
    return df

In [6]:

u = mutil()
# Start the timer
start_time = time.time()

# Initialize a SparkSession
spark = create_spark_sesssion()


dbprod = db_base("products")
get_product_info_sql=dbprod.get_sql_query_from_query_key("get_product_info")

query= "(" + get_product_info_sql + ") AS query_table"

prod_info=test_sql_server_connection(query=query,spark=spark)


dbfin = db_base("finance",svr_type='postsql')

get_account_activity = dbfin.get_sql_query_from_query_key("get_account_activity")

query= "(" + get_account_activity + ") AS query_table"

fin_account_activity=test_postgress_sql(query,spark)


dbcust = db_base("customers",svr_type='mysql')


query = dbcust.get_sql_query_from_query_key("get_customer_product_history1")

query = "(" + query + ") AS query_table"

cust_products = test_mysql_server(query,spark)




# Assuming cust_products, prod_info, and fin_account_activity are already loaded as DataFrames
# For example, they can be loaded from a source like this:
# cust_products = spark.read.format("source_format").load("path_to_cust_products")
# prod_info = spark.read.format("source_format").load("path_to_prod_info")
# fin_account_activity = spark.read.format("source_format").load("path_to_fin_account_activity")

# Register DataFrames as temporary views
cust_products.createOrReplaceTempView("cust_products")
prod_info.createOrReplaceTempView("prod_info")
fin_account_activity.createOrReplaceTempView("fin_account_activity")


# SQL query
sql_query = '''
SELECT
    DISTINCT
    cp.id AS customer_id,
    cp.f_name,
    cp.l_name,
    p.product_name,
    p.product_type,
    fa.amt_usd,
    fa.post_date,
    fa.channel_desc,
    fa.partner_desc,
    fa.location_name,
    fa.account_name,
    fa.account_type
FROM cust_products cp
JOIN prod_info p ON p.id = cp.product_id
JOIN fin_account_activity fa ON fa.customer_id = cp.id AND fa.product_id = cp.product_id
'''

# Execute SQL query
result_df = spark.sql(sql_query)

# Show the result
result_df.show()

# Stop the SparkSession when done
spark.stop()


# Stop the timer and calculate elapsed time
end_time = time.time()
elapsed_time = end_time - start_time

# Convert elapsed time to minutes and seconds
minutes = int(elapsed_time // 60)
seconds = int(elapsed_time % 60)

print(f"Overall Time: {minutes} minutes and {seconds} seconds")

('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'ODBC Driver 18 for SQL Server' : file not found (0) (SQLDriverConnect)")
Database : products, Connection Good: False
Time elapsed: 0 minutes and 0 seconds
connection to server at "127.0.0.1", port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?

Database : finance, Connection Good: False
Time elapsed: 0 minutes and 0 seconds
2003 (HY000): Can't connect to MySQL server on '127.0.0.1:3306' (111)
Database : customers, Connection Good: False
Time elapsed: 0 minutes and 0 seconds
+-----------+--------------------+--------------------+--------------------+--------------------+-------+-------------------+--------------------+--------------------+--------------+--------------------+------------+
|customer_id|              f_name|              l_name|        product_name|        product_type|amt_usd|          post_date|        channel_desc|        partner_desc| location_name|        account_name|account_type|
+-----------+--------------------+--------------------+--------------------+--------------------+-------+-------------------+--------------------+--------------------+--------------+--------------------+------------+
|        408|Brad             ...|Grimes           ...|   Wyatt's Wild Ride|Single View Movie...| $14.07|2023-05-29 05:21:56|Theatrical       ...|Myers-Zuniga     ...|    Washington|Streaming Cash Re...|     Revenue|
|        951|Tiffany          ...|Gonzalez         ...|Debbie's Date in ...|Download         ...| $30.34|2023-04-10 08:00:30|Virtual Reality (...|Simmons-Cortez   ...|     Oceanside|Distribution Inco...|     Revenue|
|       1172|Maria            ...|Wood             ...|    John's Great War|Single View Movie...|  $8.50|2023-04-17 04:50:49|Airlines         ...|Jones, Merritt an...|        Conway|Rental Income Rev...|     Revenue|
|        967|Jessica          ...|Sloan            ...|Brandy's Monster ...|Bundle           ...| $10.72|2023-11-03 20:20:31|Home Video Rental...|Rowe, Walsh and J...|Fredericksburg|Distribution Inco...|     Revenue|
|        690|Brittney         ...|Barajas          ...|   Tracy's Great War|Bundle           ...| $16.69|2023-07-08 16:52:53|Sports Networks  ...|Henderson, Johnso...|       Lincoln|Rental Income Rev...|     Revenue|
|       1155|Edward           ...|Johnson          ...|Karen's Patriotic...|Pay TV           ...| $15.88|2023-11-25 08:25:19|Events           ...|Vega, James and C...|     Melbourne|Streaming Cash Re...|     Revenue|
|       1075|Austin           ...|Thomas           ...|Tiffany's Amazing...|Subscription     ...| $24.81|2023-03-23 17:09:16|Cable TV Networks...|Thompson, Watson ...|       Yonkers|Theatrical Income...|     Revenue|
|        802|David            ...|Reed             ...|Shelby's Date Wit...|Subscription     ...| $21.80|2023-05-16 09:10:09|Virtual Reality (...|Munoz, Ferrell an...|        Durham|Music Income Reve...|     Revenue|
|       1555|Mitchell         ...|Wright           ...|Edward's Spy Thri...|Movie            ...|  $9.61|2023-06-18 11:22:13|Video Game Consol...|Steele, Mclaughli...|    Greensburg|Streaming Cash Re...|     Revenue|
|       1555|Mitchell         ...|Wright           ...|Edward's Spy Thri...|Movie            ...|  $9.61|2023-06-17 18:45:41|Streaming Aggrega...|Brown PLC        ...|    Greensburg|Theatrical Income...|     Revenue|
|       1257|Stephanie        ...|Smith            ...| April's Big Romance|Game             ...| $26.03|2023-04-29 07:03:40|Home Video       ...|Chavez, Holt and ...|  Cedar Rapids|Streaming Cash Re...|     Revenue|
|       1383|Brittany         ...|Dickerson        ...|Alexandra's Big R...|TV Episode       ...|  $4.07|2022-12-08 12:32:33|Home Video Rental...|Mcpherson and Son...|        Easton|Sell-Through Inco...|     Revenue|
|       1416|Kayla            ...|Russell          ...|Jasmine's Trip in...|Movie            ...| $33.46|2023-05-13 10:06:09|Airports and Airl...|Jensen, Chaney an...|    Broomfield|Distribution Inco...|     Revenue|
|        597|William          ...|Horne            ...|Denise's Date in ...|Single View Movie...|  $5.54|2023-07-17 12:31:39|Outdoor Events   ...|Atkinson, Jones a...|          Mesa|Rental Income Rev...|     Revenue|
|       1655|Maxwell          ...|Coleman          ...|Kimberly's Great War|Movie            ...| $34.44|2023-06-27 03:01:38|Web Series Platfo...|Pearson-Adams    ...|    Burnsville|Interest Income R...|     Revenue|
|        520|John             ...|Simpson          ...|Shelby's Date Wit...|Subscription     ...| $21.80|2022-12-03 12:02:00|Cable TV Networks...|Spence-Caldwell  ...| Oklahoma City|Music Income Reve...|     Revenue|
|         77|Samantha         ...|Estrada          ...|Allen's Spy Thriller|Game             ...|  $5.99|2023-05-27 20:38:18|Theatrical       ...|Smith-Lawson     ...|       Chicago|Interest Income R...|     Revenue|
|       1473|Brian            ...|Elliott          ...|Austin's Trip in ...|Single View Movie...| $17.37|2023-07-18 11:10:16|Home Video Rental...|Parker Inc       ...|    Petersburg|Theatrical Income...|     Revenue|
|       1706|Robert           ...|Gibson           ...|Lauren's Trip in ...|Download         ...|  $5.07|2022-12-03 13:15:56|Music Publishing ...|Mann Group       ...|        Tulare|Distribution Inco...|     Revenue|
|       1536|Jamie            ...|Summers          ...|Nancy's Trip in t...|Pay TV           ...|  $7.85|2023-06-26 13:55:14|Home Video DVD   ...|Mendoza Ltd      ...|    New Albany|Rental Income Rev...|     Revenue|
+-----------+--------------------+--------------------+--------------------+--------------------+-------+-------------------+--------------------+--------------------+--------------+--------------------+------------+
only showing top 20 rows

Overall Time: 0 minutes and 1 seconds