In [1]:
from libraries.utility import Utility as mutil
from libraries.db_base import db_base
from libraries.db_ins_fake_data import fake_data_to_db

In [2]:
products = db_base("products")

Database : products, Connection Good: True

In [3]:
customers = db_base("customers",svr_type='mysql')

Database : customers, Connection Good: True

In [4]:
fdi = fake_data_to_db("products",svr_type='mssql')
fdi.populate_fake_data(table_name='product_price_history',count=1000)

Database : products, Connection Good: True

In [5]:
import pandas as pd
import os
mu=mutil()

file_path = os.path.join(mu.get_this_dir(),"data","geography","US.txt")

def read_geography_data(file_path):
    # Define column headers based on the provided layout
    column_headers = [
        "country_code",
        "postal_code",
        "place_name",
        "admin_name1",
        "admin_code1",
        "admin_name2",
        "admin_code2",
        "admin_name3",
        "admin_code3",
        "latitude",
        "longitude",
        "accuracy"
    ]

    try:
        # Read the tab-delimited text file into a dataframe
        df = pd.read_csv(file_path, sep='\t', encoding='utf8', header=None, names=column_headers)

        # Optionally, you can perform additional data cleaning or processing here

        return df

    except Exception as e:
        print(f"Error reading the data: {e}")
        return None

# Example usage:

geography_df = read_geography_data(file_path)

if geography_df is not None:
    # You can now work with the dataframe (geography_df) as needed
    print(geography_df.head())  # Print the first few rows of the dataframe

  country_code  postal_code  place_name admin_name1 admin_code1  \
0           US        99553      Akutan      Alaska          AK
1           US        99571    Cold Bay      Alaska          AK
2           US        99583  False Pass      Alaska          AK
3           US        99612   King Cove      Alaska          AK
4           US        99661  Sand Point      Alaska          AK

      admin_name2  admin_code2 admin_name3  admin_code3  latitude  longitude  \
0  Aleutians East         13.0         NaN          NaN   54.1430  -165.7854
1  Aleutians East         13.0         NaN          NaN   55.1858  -162.7211
2  Aleutians East         13.0         NaN          NaN   54.8542  -163.4113
3  Aleutians East         13.0         NaN          NaN   55.0628  -162.3056
4  Aleutians East         13.0         NaN          NaN   55.3192  -160.4914

   accuracy
0       1.0
1       1.0
2       1.0
3       1.0
4       1.0

In [6]:
import pandas as pd
import os
mu=mutil()

file_path = os.path.join(mu.get_this_dir(),"data","geography","us_population.csv")

In [7]:
df = pd.read_csv(file_path, encoding='utf8')

In [8]:
df.head()
df["zipcode"]=df["NAME"].str.replace("ZCTA5 ","")

In [9]:
df = df.rename(columns={'P1_001N': 'population'})
df = df[['zipcode','population']]
df["country"] = "USA"
df.head()

  zipcode  population country
0   00601       17242     USA
1   00602       37548     USA
2   00603       49804     USA
3   00606        5009     USA
4   00610       25731     USA

In [10]:
file_path = os.path.join(mu.get_this_dir(),"data","geography","cleaned_pop.csv")

In [11]:
df.to_csv(file_path, index=False)